html, body {
	padding: 0;
	margin: 0;
}

.wrapper {
	min-width: 1280px;
}

.header {
	min-height: 40px;
	background: #333e41;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 960px;
	min-height: 100px;
	align-items: center;
	margin: 0 auto;
}

.navigation {
	min-height: 20px;
	background: linear-gradient(to left, #0062db, #02b616);
}

.navigation-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 960px;
	margin: 0 auto;
}

.navigation-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation-list__item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 58px;
	min-width: 128px;
	cursor: pointer;
}

.navigation-list__item:hover {
	background: #3c484b;
}

.navigation-list__item::before {

}

.navigation-list__link {
	font: 22px "RobotoCondensed-Regular", sans-serif;
	color: #fff;
}

@media (max-width: 768px) {
	.wrapper {
		min-width: 300px;
	}
}